.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

.linka {
    margin-right: 2.5%;
}

.linkb {
    margin-left: 2.5%;
}

.btn {
    height: 45px;
    width: 200px;
}